<nav class="navbar navbar-expand-lg navbar-light navStyle">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>

  <!-- <div class="bg-warning">
    <ng-template [ngIf]="money < 100">
      <span> <b>Donations:</b> {{money}}€ &nbsp; &nbsp;<b>Status:</b> {{title[0]}}</span>
    </ng-template>

    <ng-template [ngIf]="money >= 100 && money < 200">
      <span> <b>Donations:</b> {{money}}€ &nbsp; &nbsp;<b>Status:</b> {{title[1]}}</span>
    </ng-template>

    <ng-template [ngIf]="money >= 200">
      <span> <b>Donations:</b> {{money}}€ &nbsp; &nbsp;<b>Status:</b> {{title[2]}}</span>
    </ng-template>
  </div> -->

  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-success" (click)="donate()"> <b> Donate 10€ </b> </a>
          </li>
        </ul>
      </div>
    </div>
</nav>

  <div class="bg-warning p-1 text-center">
    <ng-template [ngIf]="money < 100">
      <b>Donations:</b> {{money}}€ &nbsp; &nbsp;<b>Status:</b> {{title[0]}}
    </ng-template>

    <ng-template [ngIf]="money >= 100 && money < 200">
      <b>Donations:</b> {{money}}€ &nbsp; &nbsp;<b>Status:</b> {{title[1]}}
    </ng-template>

    <ng-template [ngIf]="money >= 200">
      <b>Donations:</b> {{money}}€ &nbsp; &nbsp;<b>Status:</b> {{title[2]}}
    </ng-template>
  </div>

